<div style="text-align: center">
  <h2>Github Users</h2>
  <br />
  <table style="margin-left: auto;margin-right: auto;">
    <tr
      data-ng-repeat="user in userCtl.users"
      data-ng-click="userCtl.viewProject(user.login)"
      style="cursor: pointer;"
    >
      <td>
        <img ng-src="{{ user.avatar_url }}" style="height: 50px;width: 50px;" />
      </td>
      <td>
        <span>{{ user.login }}</span>
      </td>
    </tr>
  </table>

  <a data-ng-click="userCtl.addMore()" href=""> Add More..</a>
</div>
