<div style="text-align: center">
  <h2>{{ projectCtl.login }}</h2>
  <h3>{{ projectCtl.repo }}</h3>
  <a href="" data-ng-click="projectCtl.users()">Users</a>
  <a href="" data-ng-click="projectCtl.projects()">Back</a>
  <br />
  
</div>
<pre ng-bind-html="projectCtl.readme" style="padding: 20px;"></pre>

