<div style="text-align: center">
  <h2>{{ projectCtl.login }}</h2>
  <a href="" data-ng-click="projectCtl.users()">Back</a>
  <br />
  <table style="margin-left: auto;margin-right: auto;">
    <tr
      data-ng-repeat="project in projectCtl.projects"
      data-ng-click="projectCtl.viewProjectDetails(project.name)"
      style="cursor: pointer;"
    >
      <td>
        <span style="font-size: 25px;">{{ project.name }}</span>
      </td>
    </tr>
  </table>
</div>
